<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 必须和接口路径一致-->
<mapper namespace="com.home.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.home.domain.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <!--id 必须是方法名-->
    <!--resultType： 不管是返回一个还是多个，类型都是一样的-->
    <select id="findAll" resultType="com.home.domain.User" resultMap="BaseResultMap">
        select id,name,password,create_time,update_time,create_by,update_by from user
    </select>

    <insert id="save">
        insert into user(name,password) values (#{name},#{password})
    </insert>

    <select id="selectById" resultType="com.home.domain.User">
        select id,name,password from user where id = #{id}
    </select>

    <update id="update">
        update user set name = #{name},password = #{password} where id = #{id}
    </update>
</mapper>